# Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose you have collected data on the amount of time students spend studying for an exam and their final exam scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [7]:
import numpy as np
from scipy.stats import pearsonr
import pandas as pd

In [5]:
data={"study_time" : [1, 2, 3, 4, 5, 7, 9, 10, 11, 13],
     "exam_scores" : [60, 65, 70, 75, 80, 85, 90, 95, 100, 105]}

In [6]:
data

{'study_time': [1, 2, 3, 4, 5, 7, 9, 10, 11, 13],
 'exam_scores': [60, 65, 70, 75, 80, 85, 90, 95, 100, 105]}

In [8]:
df=pd.DataFrame(data)

In [9]:
df

   study_time  exam_scores
0           1           60
1           2           65
2           3           70
3           4           75
4           5           80
5           7           85
6           9           90
7          10           95
8          11          100
9          13          105

In [10]:
df.corr(method="pearson")

             study_time  exam_scores
study_time     1.000000     0.994061
exam_scores    0.994061     1.000000

# Q2.Suppose you have collected data on the amount of sleep individuals get each night and their overall job satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two variables and interpret the result.

In [12]:
sleep = [7, 6, 8, 5, 9, 7, 6, 8, 7, 8]
job_satisfaction = [8, 5, 7, 4, 9, 6, 5, 7, 8, 7]

# Create a pandas DataFrame
df1 = pd.DataFrame({'sleep': sleep, 'job_satisfaction': job_satisfaction})

In [13]:
df1

   sleep  job_satisfaction
0      7                 8
1      6                 5
2      8                 7
3      5                 4
4      9                 9
5      7                 6
6      6                 5
7      8                 7
8      7                 8
9      8                 7

In [14]:
df1.corr(method="spearman")

                     sleep  job_satisfaction
sleep             1.000000          0.761939
job_satisfaction  0.761939          1.000000

# Q6. A company is interested in examining the relationship between the number of sales calls made per day and the number of sales made per week. The company collected data on both variables from a sample of 30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [15]:
sales_calls = [30, 35, 40, 25, 32, 38, 42, 28, 31, 36, 41, 26, 33, 39, 43, 27, 34, 37, 44, 29]
sales_per_week = [10, 12, 14, 8, 11, 13, 15, 9, 10, 12, 14, 8, 11, 13, 15, 9, 10, 12, 14, 8]

In [16]:
# Create a pandas DataFrame
df2 = pd.DataFrame({'sales_calls': sales_calls, 'sales_per_week': sales_per_week})

In [17]:
df2

    sales_calls  sales_per_week
0            30              10
1            35              12
2            40              14
3            25               8
4            32              11
5            38              13
6            42              15
7            28               9
8            31              10
9            36              12
10           41              14
11           26               8
12           33              11
13           39              13
14           43              15
15           27               9
16           34              10
17           37              12
18           44              14
19           29               8

In [18]:
df.corr(method="pearson")

                     sleep  job_satisfaction
sleep             1.000000          0.847117
job_satisfaction  0.847117          1.000000